---
If:
  PathMatch: .*
CompileFlags:
  CompilationDatabase: .
  # This tells clangd: "If you see an include path starting with /project, 
  # swap it for the actual path on my host machine."
  Add: [
    "-isystem", "/home/magshimim/repos/1001_myos/kernel/include",
    "-isystem", "/home/magshimim/repos/1001_myos/libs",
    "-I", "/home/magshimim/repos/1001_myos/kernel/include"
  ]
---
# This is the 'brute force' path fixer
Index:
  StandardLibrary: No
