CompileFlags:
  # If your compile_commands.json is in the 'build' folder, change this to 'build'
  CompilationDatabase: "build" 
  Add: [
    "-m32",
    "-nostdinc",
    "-ffreestanding",
    "-D__myos__",
    "-isystem", "/usr/lib/gcc/x86_64-linux-gnu/11/include",
    "-isystem", "/home/magshimim/repos/1001_myos/build/sysroot/usr/include",
    "-I", "/home/magshimim/repos/1001_myos/kernel/include",
    "-I", "/home/magshimim/repos/1001_myos/bootloader/stage2/include",
    "-I", "/home/magshimim/repos/1001_myos/libs",
    "-I", "/home/magshimim/repos/1001_myos/common",
    "-I", "/home/magshimim/repos/1001_myos/extern/newlib_myos/include"
  ]

Index:
  StandardLibrary: No
