---
If:
  PathMatch: .*
CompileFlags:
  CompilationDatabase: .
  Add: [
    "-nostdinc",
    "-nobuiltininc",
    "-D__myos__",  
    "-isystem", "/usr/lib/gcc/x86_64-linux-gnu/11/include",
    "-I", "/home/magshimim/repos/1001_myos/kernel/include",
    "-I", "/home/magshimim/repos/1001_myos/bootloader/stage2/include",
    "-I", "/home/magshimim/repos/1001_myos/libs",
    "-I", "/home/magshimim/repos/1001_myos/common",
    "-I", "/home/magshimim/repos/1001_myos/extern/newlib_myos/include"
  ]



Index:
  StandardLibrary: No

